<!--/* byline.html */-->
 
 <div data-sly-use.byline="com.adobe.aem.guides.wknd.core.components.Byline"
 	  data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
 	  data-sly-test.hasContent="${!byline.empty}"   
      class="cmp-byline">
     <div class="cmp-byline__image"
        data-sly-resource="${ '.' @ resourceType = 'core/wcm/components/image/v2/image' }">
     </div>
     <h2 class="cmp-byline__name">${byline.name}</h2>
     <p class="cmp-byline__occupations">${byline.occupations @ join=', '}</p>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>